*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup_form{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 400px;
    padding: 30px 30px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .15);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup_form.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.close_btn{
    position: absolute;
    left: 93%;
    top: 8px;
    border: none;
    background-color: transparent;
    font-size: 17px;

}

form{
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    row-gap: 30px;
    column-gap: 10px;
    grid-template-columns: 25% 1fr;
    grid-template-rows: repeat(4,1fr);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
}

label{
    align-self: center;
}

.label{
    align-self: center;
}

#submit_btn{
    grid-column: -1/1;
    margin-top: 20px;
    justify-self: center;
    margin-bottom: 10px;
}

button[type='submit']{
    padding: 10px 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    border: none;
    color: #fff;
    border-radius: 10px;
    background-color: #000000;
}




.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #000000;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 50px;
  column-gap: 20px;
  padding: 20px;
  }

.book_card{
  height: 200px;
  border: solid #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 30px;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  position: relative;
  }

.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #fff;
  background-color: #000000;
}

.new_book{
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  height: 37px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
}

.delete_book{
  position: absolute;
  top:5px;
  right:5px;
  font-size: 16px;
  height: 20px;
  width: 20px;
  border: none;
  background-color: transparent;
}

.delete_book:hover{
  transform: scale(1.1);
}

.switch_label{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 10px;
}